/* mise en place de la police Roboto sur toute la page*/
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;
    margin: auto;
    background-color: #555;
}

header, main{
    background-color: white;
}

/*enlever le surlignage des liens et mettre en noir la police pour les liens*/
a{
    text-decoration: none;
    color: #000;
}

ul{
    /* enlever les puces sur la liste*/
    list-style-type: none;
    /*j'enleve le padding-left par défaut*/
    padding-left: 0px;
}

h2{
    font-size: 30px;
}

.fonctionnement{
    padding-left: 35px;
    padding-right: 35px;
}

/*centre le loading spinner sur la page entière*/
.loading.spinner{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    align-items: center;
    justify-content: center;
}

.loading i{
    position: fixed;
    width: 100px;
    font-size: 100px;
}


/*animation du loading spinner
1ere étape : icone "fourchette" couleur blanc à #9356DC(violet) avec rotation et grossissement x2
2ème étape : icone "verre" couleur #9356DC(violet) à #FF79DA(rose) avec rotation et grossissement x2
3ème étape : icone "couvercle" couleur #FF79DA(rose) à #99E2D0(vert) avec rotation et grossissement x2
 */

@keyframes loading-Spinner1{
    0%{
        opacity:1;
        color:white;
        transform: rotate(0deg) scale(0);
    }
    
    100%{
        opacity:1; 
        transform: rotate(360deg) scale(2);
        color:#9356DC;
    }
}

@keyframes loading-Spinner2{
    0%{
        opacity:1;
        transform: rotate(0deg) scale(2);
        color:#9356DC;
    }
   
    100%{
        opacity:1; 
        transform: rotate(360deg) scale(0);
        color:#FF79DA;
    }
}

@keyframes loading-Spinner3{
    0%{
        opacity:1;
        transform: rotate(0deg) scale(0);
        color:#FF79DA;
    }
   
    100%{
        opacity:1; 
        transform: rotate(360deg) scale(2);
        color:#99E2D0;
    }
}

/*affichage header/main/footer après l'animation du loading spinner 3secondes*/
@keyframes affichage-Page{
    0%{
        opacity:0;
    }
    100%{
        opacity:1; 
    }
}

.spinnerun {opacity:0;animation: loading-Spinner1 1s ease-in-out 0s;}
.spinnerdeux {opacity:0;animation: loading-Spinner2 1s ease-in-out 1s;}
.spinnertrois {opacity:0;animation: loading-Spinner3 1s ease-in-out 2s;}

header{opacity: 0;animation: affichage-Page 100ms ease-in-out 3s forwards;}
main{opacity: 0;animation: affichage-Page 100ms ease-in-out 3s forwards;}
footer{opacity: 0;animation: affichage-Page 100ms ease-in-out 3s forwards;}





header h1{
    margin: 0px;
    text-align: center;
    padding: 10px;
}

header h1 img{
    padding-top: 15px;
    height: 50px;
    object-fit:contain;
}



.coeur{
    font-size: 30px;
    align-self: center;
}

/*animation coeur avec transition sur le survol*/
.coeur.plein{
    align-self: center;
    position: absolute;
    right: 15px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(to bottom,#9356DC, #FF79DA);
    transition: all 500ms;
}

.coeur.plein:hover{
   opacity: 1;
}







footer {
    background: #353535;
    color: white;
    height: 220px;
}

footer ul li a{
    padding-left: 20px;
    color: white;
}

footer ul li a i{
    width: 20px;
    margin-right: 15px;
}

footer .liens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

footer h2{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    padding: 20px 0px 0px 20px;
}
