header{
    display: flex;
    justify-content: center;
    position: relative;
}

header i{
    position: absolute;
    top : 30px;
    left:30px;
    font-size: 25px;
    align-self: center;
}

main{
    background: #f6f6f6;
}

figure{
    margin: 0px;
}
/*mise en forme de l'image de la carte restaurant*/
figure img{
    width: 100%;
    /*Permet d'ajuster l'image au bon format*/
    object-fit: cover;
    height: 300px;
}



.menu{
    background: #f6f6f6;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    top : -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titre-Restaurant{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.titre-Restaurant h2{
    font-family: Shrikhand;
    padding-left: 20px;
}

.titre-Restaurant i{
    padding-right: 40px;
    align-self: center;
    font-size: 30px;
}

.coeur.plein{
    right: 0px;
}


.section_Menu{
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    width: 10%;
    border-bottom: 4px solid #99E2D0;
}


.details_Plats{
    margin: 15px;
    border-radius: 25px;
    box-shadow: -2px 5px 10px 3px #cecece;
    background: white;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}




@keyframes transition {
    0%{
        opacity:0; 
        transform: translateY(20px);
    }
    100%{
        opacity:1; 
        transform: translateY(0px);
    }
    }
.un {opacity:0;animation: transition 1s ease-in-out 3s forwards;}
.deux {opacity:0;animation: transition 1s ease-in-out 3200ms forwards;}
.trois {opacity:0;animation: transition 1s ease-in-out 3400ms forwards;}
.quatre {opacity:0;animation: transition 1s ease-in-out 3600ms forwards;}



.details_Plats .description{
    margin-left: 10px;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details_Plats .description h4{
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details_Plats .description p{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details_Plats .prix{
    width: 20%;
    align-self: flex-end;
    text-align: end;
    margin-right: 30px;
    font-weight: 700;
}

.details_Plats .check{
    /*centrer l'icone dans son cercle*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 0px 25px 25px 0px;
    background: #99E2D0;
    color: white;
    opacity: 0;
    width: 0%; 

    transition: all 750ms;
}

li.details_Plats:hover .check{
    width: 30%;
    opacity: 1;
    cursor:pointer;
}

li.details_Plats i{
    transition: all 750ms;
}

li.details_Plats:hover i{
    transform: rotate(360deg);
}


.menu .commander{
    width: 60%;
    align-self: center;
    font-size: 20px;
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient(to bottom right,#FF79DA, #9356DC);
    box-shadow: -2px 5px 10px 3px #cecece;
}

.menu .commander:hover{
    background: linear-gradient(to bottom right,rgb(255, 121, 218,0.8), rgb(147, 86, 220,0.8));
    box-shadow: -2px 5px 10px 3px #2c2626;
}






@media screen and (min-width: 700px) {
    .desktop-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .desktop-menu >li{
        width: 30%;
    }

    .menu .commander{
        width: 30%;
    }
}